{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashtephra records</title>
    <link rel="stylesheet" href="{% static 'vendor/bulma/css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        {% include 'partials/nav.html' %}
    </div>
    <div class="container">
    {% block content %}
    {% endblock content %}
    </div>
</body>

</html>